<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="HibernateSessionFactory">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">iso2</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/multas</property>
  <property name="hibernate.connection.username">iso2</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 
  <mapping class="org.Iteracion4.domain.Owner"/>
  <mapping class="org.Iteracion4.domain.Inquiry"/>
  <mapping class="org.Iteracion4.domain.Vehicle"/>
  <mapping class="org.Iteracion4.domain.Sanction"/>
  <mapping class="org.Iteracion4.domain.Driver"/>
  <mapping class="org.Iteracion4.domain.SanctionHolder"/>
 </session-factory>
</hibernate-configuration>
